body {
    width: 100%;
    height: 908px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    gap: 200px;
    background: #FFF;
    margin-bottom: 50px;
}

.name {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.main-name {
    color: #545454;
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 1.92px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.description {
    color: #292929;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: left;
    margin-top: 5px;
    margin-left: 60px;
}

@media (max-width: 800px) {
    .dog-photo {
        display: none;
    }
}

.menu {
    margin-top: 40px;
    display: flex;
    gap: 35px;
    white-space: nowrap;
    justify-content: flex-end;
}

link {
    list-style: none;
}

.nav-item {
    color: #545454;;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
    text-decoration: none;
}

.border {
    height: 3px;
    align-self: stretch;
    background: #F1CDB3;
}

.link-active {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.active {
    color: #292929;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
}

.nav-item:hover {
    color: #545454;
    background: #FAFAFA;;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
}

.wrapper {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background: #F6F6F6;
    box-sizing: border-box;
}

.heading {
    width: 400px;
    margin: auto;
    color: #545454;
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
}

.pet-grid-item {
    max-width: 270px;
    height: 530px;
    border: 1px solid #737373;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    background: #FAFAFA;
}

.pet-card {
    display: flex;
    width: 270px;
    height: 230px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FAFAFA;
}

.pet-image {
    width: 270px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 9px 9px 0px 0px;
}

.pet-name {
    margin-top: 20px;
    color: #545454;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.pet-origin {
    color: #262425;
    text-align: center;
    font-family: Georgia;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.learn-more-button {
    display: flex;
    padding: 15px 45px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    text-decoration: none;
}

.learn-more-button-text {
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
    text-decoration: none;
}

.preloader {
    background: white;
    text-align: center;
    color: #545454;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.preloader-grid-item {
    width: 270px;
    height: 530px;
    border: 1px solid #737373;
    border-radius: 10px;
}

.preloader-contents {
    display: block;
    background: white;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
}

.pets-slider {
    width: 850px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.prev-button-arrow {
    margin-top: 295px;
    display: inline-flex;
    padding: 23px 19px;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
}

.next-button-arrow {
    margin-top: 295px;
    display: inline-flex;
    padding: 23px 19px;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
}

.arrow {
    fill: #292929;
    width: 14px;
    height: 6px;
}

.arrow-photo {
    margin: auto;
}