body {
    background: #FFD0B5;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

code {
    float: left;
    background-color: #805034;
    text-align: center;
    width: 400px;
    margin-top: 40px;
    margin-left: 80px;
}

.dog-photo {
    padding: 70px 20px 20px 30px;
    margin-right: 50px;
    width: 400px;
    height: 450px;
    box-shadow: 3px 3px #AB8B79, -1em 0 .4em #FFD6C4;
}

.name {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia;
    height: 35px;
    font-size: 150%;
    background-color: #FFA069;
    border: 1px solid #66554A;
}

@media (max-width: 800px) {
    .dog-photo {
        display: none;
    }
}

.menu {
    margin: 2px;
    width: 220px;
    height: 125vh;
    font-family: Georgia, serif;;
    background-color: #AB8B79;
    font-weight: bold;
    line-height: 1.5;
}

.nav-item {
    color: black;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    color: #EAE1D4;
}

.nav-item:hover {
    background: #3D352F;
    color: #EAE1D4;
}

.main-text {
    padding-top: 200px;
    width: 550px;
    margin-top: 100px;
    margin-left: 10px;
    font-family: Georgia;
    line-height: 32px;
}

#catalog {
    width: 300px;
    padding: 10px;
    font-family: Georgia, serif;
    text-align: center;
    color: #D98859;
    height: 25px;
    margin-left: 120px;
    margin-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 750px;
    padding: 15px;
}

.grid-container {
    margin-top: 50px;
    display: grid;
    width: 600px;
    column-gap: 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 3px;
    border: 1px solid #000;
    background: #998579;
    grid-template-areas:
    'pet-name breed gender age pet-color additional-info'
    'odd-cell11 odd-cell12 odd-cell13 odd-cell14 odd-cell15 odd-cell16'
    'even-cell21 even-cell22 even-cell23 even-cell24 even-cell25 even-cell26'
    'odd-cell31 odd-cell32 odd-cell33 odd-cell34 odd-cell35 odd-cell36'
    'even-cell41 even-cell42 even-cell43 even-cell44 even-cell45 even-cell46';
}

.pet-name {
    grid-area: pet-name;
}

.breed {
    grid-area: breed;
}

.gender {
    grid-area: gender;
}

.age {
    grid-area: age;
}

.pet-color {
    grid-area: pet-color;
}

.additional-info {
    grid-area: additional-info;
}

[class*="modify"] {
    background: #CC9778;
}

[class*="heading"] {
    background: #33261F;
    color: white;
    font-style: italic;
}

[class*="even-cell"], [class*="odd-cell"] {
    grid-area: auto;
    align-content: center;
}

footer {
    position: absolute;
    top: 1020px;
    left: 70vw;
    bottom: 0;
    width: 500px;
}